@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
/* Font-family */
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
/* Buttons */
.button {
  border: none;
  padding: 2rem 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #ffffff;
  width: 100%;
}
/* Typography */
section {
  padding: 10rem 0;
  font-size: 1.4rem;
}
.section-header {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.section-subtitle {
  font-size: 1.6rem;
  margin-bottom: 6rem;
}
/* Center alignment */
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.wrap-block .phone-number-links {
  color: #ffffff;
}
.wrap-block .phone-number-links:hover {
  text-decoration: none;
}
/* Form */
.form-input-1,
.form-input-2,
.form-input-3,
.form-input-4,
.form-input-5,
.form-input-6,
.form-input-7 {
  display: block;
  width: 100%;
  padding: 2rem;
  margin: 1rem 0;
  border: none;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #818181;
}
.form-comment {
  text-align: center;
  margin: 2rem 0;
}
.form-comment img {
  display: inline-table;
  width: 1.8rem;
}
.form-comment span {
  vertical-align: middle;
  display: inline-table;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.form-popup-btn {
  background-color: #f7b516;
}
.form #icon-email {
  background-image: url(../img/form/envelope.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
.form #icon-phone-1,
.form #icon-phone-2 {
  background-image: url(../img/form/call.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
/* Pop-up */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4rem;
  background-color: #ffffff;
}
.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
}
.popup-close {
  position: absolute;
  top: -1rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
/* Header*/
.main {
  padding: 1.5rem 0;
  background-color: #191919;
}
.main-content {
  padding: 0;
}
.main .header {
  height: 7rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #ffffff;
  text-align: center;
}
.main .header .phone-number {
  text-align: right;
}
.main .header .button {
  background-color: #1669b3;
}
/* Main section */
.main-content {
  background: url(../img/main/main-bg.png) center center no-repeat;
}
.main-content .main-text-box {
  background-color: #f7b516;
  height: 100%;
  padding: 10rem 10rem;
}
.main-content .main-text-box h1 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.main-content .main-text-box h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
}
.main-content .main-text-box ul {
  padding: 0;
}
.main-content .main-text-box ul li {
  display: table;
  height: 3rem;
  width: 100%;
  margin-bottom: 2rem;
  list-style-type: none;
}
.main-content .main-text-box ul li img {
  display: inline-table;
  margin-right: 2rem;
  width: 1.8rem;
}
.main-content .main-text-box ul li span {
  vertical-align: middle;
  display: inline-table;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
/*Price section  */
.price {
  background: url(../img/price/bg-price.png) center center no-repeat;
  color: #000000;
  text-align: right;
}
.price-form h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: right;
  margin-bottom: 6rem;
}
.price-button {
  background-color: #1669b3;
}
.features {
  background-color: #08243e;
  color: #ffffff;
  text-align: center;
}
.features-block {
  padding: 0 4rem;
}
.features-img {
  height: 8rem;
}
.features-img img {
  height: 6rem;
  display: block;
  margin: 0 auto;
}
/* Slick slider setting */
.slick-active {
  outline: 0;
}
.slick-slide img {
  display: block;
  margin: 2.8rem auto;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  background: url(../img/stock/right-arrow.png) center no-repeat;
  left: 0;
  background-size: 70%;
}
.next {
  background: url(../img/stock/left-arrow.png) center no-repeat;
  right: 0;
  background-size: 70%;
}
/* Deatil section */
.detail {
  background: url(../img/detail/detail-bg.png) center center no-repeat;
  color: #ffffff;
  text-align: center;
}
.detail-comment {
  margin-top: 2rem;
}
.detail-button {
  background-color: #f7b516;
  margin: 1rem 0;
}
.guarantee {
  margin: 3rem 0;
  text-align: center;
}
.guarantee-block {
  margin-top: 4rem;
}
.guarantee-block .guarantee-img {
  display: inline-block;
  width: 100%;
  max-width: 20rem;
  max-height: 26rem;
  margin-bottom: 2rem;
}
.guarantee-block .guarantee-link {
  text-transform: uppercase;
}
.guarantee-block .guarantee-link:hover {
  text-decoration: none;
}
/* Bonus service section */
.bonus {
  background: #08243e;
  color: #ffffff;
  text-align: center;
}
.bonus-block {
  margin-top: 3rem;
  padding: 0 4rem;
}
.bonus .media {
  min-height: 9rem;
  margin-top: 2rem;
}
.bonus .media-img {
  margin-bottom: 2rem;
}
.bonus .circle {
  display: inline-block;
  background-color: #08243e;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.bonus .circle-border {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  padding: 0.3rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 9rem;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}
/* Client comfort section */
.comfort {
  background-color: #ffffff;
  text-align: center;
}
.comfort-block {
  padding: 0 4rem;
}
.comfort-img {
  display: block;
  text-align: center;
}
.comfort-img img {
  height: 5rem;
  margin-bottom: 2rem;
}
.comfort p {
  padding: 0 4rem;
}
/* Stock section */
.stock {
  background-color: #08243e;
  color: #ffffff;
  text-align: center;
}
.stock-img img {
  height: 20rem;
  display: block;
  margin: 0 auto;
}
/* Mobile service section */
.mobile {
  background-color: #ffffff;
  text-align: center;
}
.mobile-block {
  padding: 0 4rem;
  margin-top: 3rem;
}
.mobile-image {
  display: block;
  text-align: center;
}
.mobile-image img {
  height: 8rem;
  margin-bottom: 2rem;
}
.mobile p {
  padding: 0 4rem;
}
/* Meeting section */
.meeting {
  background: url(../img/bg-meeting.png) center right no-repeat;
  color: #ffffff;
  text-align: center;
}
.meeting-button {
  background-color: #f7b516;
  margin: 1rem 0;
}
/* Office section */
.office {
  background: url(../img/bg-office.png) center top no-repeat;
  text-align: center;
}
/* Map section */
.map iframe {
  width: 100%;
  height: 30rem;
  border-style: none;
}
/* Footer */
.footer {
  padding: 1.5rem 0;
  background-color: #191919;
  height: 9rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
.footer-text {
  text-align: center;
  text-transform: uppercase;
}
.footer-content {
  padding: 0;
}
.footer-phone-number {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: right;
}
.footer-phone-number a {
  color: #ffffff;
}
/* Media queries */
@media (max-width: 991px) {
  .main-content {
    background: url(../img/main/main-bg.png) center top no-repeat;
  }
  .detail {
    background: url(../img/detail/detail-bg.png) center center repeat;
  }
  .footer-phone-number {
    font-size: 1.2rem;
  }
  .main-text-box {
    width: 180%;
  }
}
@media (max-width: 767px) {
  .main-text-box {
    width: 100%;
  }
  .detail {
    background: url(../img/detail/detail-bg.png) center center repeat;
  }
  .footer-phone-number {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .logo-img {
    width: 14rem;
    margin-bottom: 1rem;
  }
  .form-input-1,
  .form-input-2,
  .form-input-3,
  .form-input-4,
  .form-input-5,
  .form-input-6,
  .form-input-7 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 575px) {
  .section-header {
    line-height: 3.5rem;
  }
  .phone-number,
  .header-text,
  .footer-phone-number {
    display: none;
  }
  .main-text-box {
    padding: 4rem !important;
  }
  .price-form h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  .detail .section-subtitle {
    margin-bottom: 0;
  }
  .office {
    background: url(../img/bg-office.png) right top no-repeat;
  }
  .logo-img {
    width: 12rem;
    margin-bottom: 1rem;
  }
  .popup-content {
    width: 80%;
  }
}
